.container {
    margin: 2em;
}

.column {
    display: flex;
    flex-direction: column;
}

.center-y {
    align-items: center;
}

.btn {
    background-color: #3a8eba;
    color: #ffffff;
    margin-top: 1em;
}
