<form [formGroup]="roleForm" class="form">
    <div class="form-row">
        <mat-form-field appearance="outline">
            <mat-label>User</mat-label>
            <mat-select matInput formControlName="user" #selectedUser (valueChange)="onUserChange(selectedUser.value)">
                <mat-option *ngFor="let user of users$ | async" [value]="user">{{ user.username }}</mat-option>
            </mat-select>
            <mat-error>This field is required</mat-error>
        </mat-form-field>
    </div>
    <div class="form-row">
        <mat-form-field appearance="outline" *ngIf="roles$ | async">
            <mat-label>Role</mat-label>
            <mat-select matInput [formControl]="roleCtrl">
                <mat-option *ngFor="let role of roles" [value]="role.name" [disabled]="role.disabled">{{ role.name }}</mat-option>
            </mat-select>
            <mat-error>This field is required</mat-error>
        </mat-form-field>
    </div>
    <div class="form-row form-actions">
        <ng-container *ngIf="'add' === formType; else removeForm">
            <button mat-raised-button (click)="onSubmit()" [disabled]="roleForm.invalid || loading" [ngClass]="{ btn: roleForm.valid && !loading }">Add</button>
        </ng-container>
        <ng-template #removeForm>
            <button mat-raised-button (click)="onSubmit()" [disabled]="roleForm.invalid || loading" [ngClass]="{ btn: roleForm.valid && !loading }">Remove</button>
        </ng-template>
    </div>
    <div class="form-row form-spinner" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="form-row form-message" *ngIf="message && !loading">
        <small>{{ message }}</small>
    </div>
</form>
