.form-row {
    display: flex;
}

.form {

    margin-top: 1.5em;

    .form-row button:nth-child(2) {
        margin-left: .5em;
    }
    
    .form-spinner {
        margin-top: 1.5em;
    }

    .form-message {
        color: #228B22;
        margin-top: 1em;
    }
    
    .textarea {
        height: 10em;
    }
    
    .btn {
        background-color: #3a8eba;
        color: #ffffff;
    }
    
    .btn-reset {
        margin-top: .2em;
    }
    
    ::ng-deep .mat-mdc-text-field-wrapper {
        height: 2.5em;
    }
    
    ::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
        padding-bottom: 16px; 
    }
    
    ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 9px;
    }
    
    ::ng-deep .mat-mdc-select-arrow svg {
        left: 0;
    }
    
    ::ng-deep .mat-mdc-form-field-icon-suffix > .mat-icon {
        padding: .55em;
        margin-top: -.6em;
    }
    
    mat-form-field {
        width: 24em;
    }

}
