.spacer {
    flex: 1 1 auto;
}

.toolbar-1, .toolbar-2 {

    ul {
        list-style: none;
        color: #ffffff;
    }

    li {

        display: inline-block;

        &:not(:last-child) {
            margin-right: 1em;
        }

        &:hover {
            border: .5px solid #ffffff;
        }

    }

    a {
        font-weight: normal;
        text-decoration: none;
    }

}

.toolbar-1 {

    height: 3em;
    background-color: #123456;

    .form {

        display: flex;
        margin: 1em 2em 0 1em;

        .form-column:first-child {

            ::ng-deep .mdc-text-field--outlined .mdc-notched-outline {
                border-radius: 2% 0 0 2%;
            }

        }

        .btn-search {

            height: 2.85em;
            background-color: #b0e0e6;      
            border-radius: 0 3% 3% 0;

            mat-icon {
                margin: 0;
            }

        }

        ::ng-deep .mat-mdc-form-field-flex {
            height: 2.5em;
        }

        ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading,
        ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
            border: none;
        }

        ::ng-deep .mdc-text-field--outlined .mdc-notched-outline {
            background-color: #ffffff;
            z-index: 0;
        }

        ::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
            padding-bottom: 16px; 
        }
        
        ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
            padding-top: 9px;
        }

        mat-form-field {
            width: 15em;
        }

    }

    .cart {

        display: flex;
        justify-content: space-between;

        mat-icon {
            position: absolute;
            top: -.04em;
        }

    }

    h1 {
        color: #ffffff;
        cursor: pointer;
    }

    li {
        border: .5px solid #123456;
    }

    hr {
        display: inline-block;
        height: 1.95em;
        width: 0.01px;
        margin-top: 0;
    }

}

.toolbar-2 {

    height: 2.3em;
    background-color: #23315e;

    .btn-toggle mat-icon {
        margin: 0;
    }

    li {
        border: .5px solid #23315e;     
    }

}

.sidenav-container {

    flex-grow: 1;

    .sidenav {
        background-color: #d0d0d0;
    }

}

header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
