<div class="container">
    <div class="row center-x">
        <div class="settings">
            <h2 class="mat-h2">Settings</h2>
            <mat-card class="user" *ngIf="user$ | async as user">
                <div class="row baseline-y">
                    <div class="name">
                        <div class="label">Name:</div>
                        <div>{{ user.firstname }} {{ user.lastname }}</div>
                    </div>
                    <span class="spacer"></span>
                    <button type="button" mat-raised-button (click)="onEdit('name')">Edit</button>
                </div>
                <mat-divider></mat-divider>
                <div class="row baseline-y">
                    <div class="email">
                        <div class="label">Email:</div>
                        <div>{{ user.email }}</div>
                    </div>
                    <span class="spacer"></span>
                    <button type="button" mat-raised-button (click)="onEdit('email')">Edit</button>
                </div>
                <mat-divider></mat-divider>
                <div class="row baseline-y">
                    <div class="phone">
                        <div class="label">Phone number:</div>
                        <div>{{ user.phone }}</div>
                    </div>
                    <span class="spacer"></span>
                    <button type="button" mat-raised-button (click)="onEdit('phone')">Edit</button>
                </div>
                <mat-divider></mat-divider>
                <div class="row baseline-y">
                    <div class="password">
                        <div class="label">Password:</div>
                        <div>******</div>
                    </div>
                    <span class="spacer"></span>
                    <button type="button" mat-raised-button (click)="onEdit('password')">Edit</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
