.container {
    margin: 2em;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.center-x {
    justify-content: center;
}

p:first-child {
    margin-top: 0;
}
