<footer>
    <div class="section-1" (click)="onBackToTop()">
        Back to top
    </div>
    <div class="section-2">
        <div class="links">
            <mat-grid-list cols="3" rowHeight="11em">
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item><a routerLink="">About</a></mat-list-item>
                        <mat-list-item><a routerLink="">Blog</a></mat-list-item>
                        <mat-list-item><a routerLink="">Careers</a></mat-list-item>
                        <mat-list-item><a routerLink="">Partnerships</a></mat-list-item>
                    </mat-list>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item><a routerLink="">Condition of Use</a></mat-list-item>
                        <mat-list-item><a routerLink="">Privacy Policy</a></mat-list-item>
                    </mat-list>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item><a routerLink="">Your Account</a></mat-list-item>
                        <mat-list-item><a routerLink="">Your Orders</a></mat-list-item>
                        <mat-list-item><a routerLink="">Help</a></mat-list-item>
                    </mat-list>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <mat-divider></mat-divider>
        <div class="copyright">
            MPH © 2023
        </div>
    </div>
</footer>
