<div class="container">
    <h2 class="mat-h2">Orders</h2>
    <div class="table" *ngIf="dataSource && dataSource.data.length > 0">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef class="mat-h3">Card number</th>
                <td mat-cell *matCellDef="let element">
                    <div class="row center-y">
                        <ng-container [ngSwitch]="element.type">
                            <img src="/assets/img/visa.PNG" alt="Visa logo" class="image" *ngSwitchCase="'VISA'">     
                            <img src="/assets/img/mastercard.PNG" alt="Mastercard logo" class="image" *ngSwitchCase="'MASTERCARD'">
                            <img src="/assets/img/american_express.PNG" alt="American Express logo" class="image" *ngSwitchCase="'AMERICAN_EXPRESS'">
                        </ng-container>
                        {{ element.number | creditCard }}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="holderName">
                <th mat-header-cell *matHeaderCellDef class="mat-h3">Name on card</th>
                <td mat-cell *matCellDef="let element">{{ element.holderName }}</td>
            </ng-container>
            <ng-container matColumnDef="expirationDate">
                <th mat-header-cell *matHeaderCellDef class="mat-h3">Expiration date</th>
                <td mat-cell *matCellDef="let element">{{ element.expirationDate | date }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button (click)="onDeleteCreditCard(element)">Delete</button>|
                    <button mat-flat-button (click)="onSetDefaultCreditCard(element)">Set as Default</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [length]="creditCards.length" 
            pageIndex="0" [pageSize]="creditCardsPerPage" hidePageSize="true" [pageSizeOptions]="[creditCardsPerPage]" showFirstLastButtons="true"
            (page)="onPage($event)" 
            aria-label="Select page" *ngIf="creditCards.length > creditCardsPerPage">
        </mat-paginator>
    </div>
    <div class="buttons">
        <button type="button" mat-flat-button (click)="onAddCreditCard()"><mat-icon>add</mat-icon>Add card</button>
    </div>
</div>
