.container {
    margin: 2em;
}

mat-card {

    justify-content: center;
    align-items: center;
    height: 99.4%;
    width: 100%;
    min-width: 19.2em;
    border: 1px dashed #000000;
    cursor: pointer;

    .label {
        font-weight: 500;
    }

}

app-address {
    height: 100%;
    width: 100%;
}
