<div class="container"> 
    <div class="row center-x">
        <div class="column">
            <p>
                If you're not 100% satisfied, you can return your product for free within 30 days of delivery.
            </p>
            <p>
                We're unable to offer online exchanges. We aim to process refunds as soon as possible, however the complete process can take up to 15 working days.
            </p>
            <p>
                Once we have processed your return, we will notify you via email and transfer your refund as soon as possible.
            </p>
        </div>
    </div>
</div>
